<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>job_Portal</title>

    <!-- Bootstrap CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Style Sheet linkage -->
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- Fontawesome CDN -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->


  <!-- =================== -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-fixed-top" id="style-navbar">
        <a href="/" class="navbar-brand" id="style-navbar-brand">job_Portal</a>
        <!-- <form class="form-inline"  id="style-search-bar" action="index.html" method="post">
          <input class="form-control" type="search" aria-label="Search" name="" placeholder="Search jobs and candidates">
          <button type="submit" id="search-button" name="button">Search</button>
        </form> -->
        <div class="options">
          <%  if(!currentUser){ %>
          <a id="style-navbar-options" href="/login">LOGIN</a>
          <a id="style-navbar-options" href="/register">SIGNUP</a>
          <a id="style-navbar-options" href="#">Upload CV</a>
          <a class="btn btn-outline-info" href="/postJob">Post Job</a>
        <%  }else{  %>
          <a id="style-navbar-options" href="/uploadCV">Upload CV</a>
          <a class="btn btn-outline-info" href="/postJob">Post Job</a>

          <a id="style-navbar-options" href="/logout" style="font-size:15px; padding-left:30px"> <i>Logout</i> </a>
        <%  } %>
        </div>
      </nav>
