<%-  include('./partials/header.ejs')    -%>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="container-fluid introduction">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12">
<h1 id="intro-desc">Hire Candidates.</h1>
<h1 id="intro-desc">Get Your Dream Job.</h1>
<h5>All new and easy to use platform for connecting talent and talent seekers all across the nation.</h5>
<a class="btn btn-outline-dark btn-lg" href="#">Get Started</a>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container category-display">
  <h4>What's your need?</h4>
  <div class="row category-display-items">

    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-laptop-code favicon fa-6x"></i>
      </div>
      <div class="caption">
        WEB/APP ENGINEERS
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-calculator fa-6x"></i>
      </div>
      <div class="caption">
      CA / CS
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="far fa-edit fa-6x"></i>
      </div>
      <div class="caption">
        CONTENT CREATION
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-headphones-alt fa-6x"></i>
      </div>
      <div class="caption">
        CUSTOMER SERVICE
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-chart-area fa-6x"></i>
      </div>
      <div class="caption">
      SALES AND MARKETING
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="far fa-lightbulb fa-6x"></i>
      </div>
      <div class="caption">
      CREATIVITY AND DESIGN
      </div>
    </div>

  </div>
  <br>
  <a href="#"><h6>See all categories.</h6></a>
</div>


<div class="style-stats">
  <i class="fas fa-award fa-4x"></i>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 stats">
        More than 100+ active users
      </div>
      <div class="col-sm-3 stats">
        Tie Ups with more than 20 companies
      </div>
      <div class="col-sm-3 stats">
        More than 30000+ CVs
      </div>
      <div class="col-sm-3 stats">
        Top Rated Customer Rep
      </div>
    </div>
  </div>
</div>

<div class="howwework">
<img src="/images/timeline.jpg" class="timeline">
</div>


<%-  include('./partials/footer.ejs')   -%>
