<%-  include('./partials/header.ejs')    -%>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="container-fluid introduction">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12">
<h1 id="intro-desc">Hire Candidates.</h1>
<h1 id="intro-desc">Get Your Dream Job.</h1>
<h5>All new and easy to use platform for connecting talent and talent seekers all across the nation.</h5>
<a class="btn btn-outline-dark btn-lg" href="#">Get Started</a>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container category-display">
  <h4>What's your need?</h4>
  <div class="row category-display-items">

    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-laptop-code favicon fa-6x"></i>
      </div>
      <div class="caption">
        WEB/APP ENGINEERS
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-calculator fa-6x"></i>
      </div>
      <div class="caption">
      CA / CS
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="far fa-edit fa-6x"></i>
      </div>
      <div class="caption">
        CONTENT CREATION
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-headphones-alt fa-6x"></i>
      </div>
      <div class="caption">
        CUSTOMER SERVICE
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="fas fa-chart-area fa-6x"></i>
      </div>
      <div class="caption">
      SALES AND MARKETING
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 items-job">
      <div class="thumbnail">
        <i class="far fa-lightbulb fa-6x"></i>
      </div>
      <div class="caption">
      CREATIVITY AND DESIGN
      </div>
    </div>

  </div>
  <br>
  <a href="#"><h6>See all categories.</h6></a>
</div>


<div class="style-stats">
  <br>
  <h4>All New and Effective!</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 stats">
        <h3>More than </h3><h1>100+</h1><h3> active users</h3>
      </div>
      <div class="col-sm-4 stats">
        <h3>Tie Ups with more than </h3> <h1>20</h1> <h3>companies</h3>
      </div>
      <div class="col-sm-4 stats">
        <h3>Collection of</h3> <h1>30000+</h1> <h3>CVs</h3>
      </div>
      <!-- <div class="col-sm-3 stats">
        Top Rated Customer Rep
      </div> -->
    </div>
  </div>
  <div class="howwework">
    <hr>
  </div>
  <div class="working-explained">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">
          <h3><b>For Candidates</b></h3>
      </div>
      <br><br><br>
    </div>
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-3">
        <div class="circle">
        </div>
        <h5>Login with your account</h5>
      </div>
      <div class="col-sm-3">
        <div class="circle">
        </div>
        <h5>Fill out your profile</h5>
      </div>
      <div class="col-sm-3">
        <div class="circle">
        </div>
        <h5>Search for jobs and get hired!</h5>
      </div>
      <br><br><br>
    </div>
  </div>

<br><br><br><br>
  <div class="working-explained-cons">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">
          <h3><b>For Consultants</b></h3>
      </div>
      <br><br><br>
    </div>
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-3">
        <div class="circle-cons">
        </div>
        <h5>Login with your account</h5>
      </div>
      <div class="col-sm-3">
        <div class="circle-cons">
        </div>
        <h5>Find CVs to download(For free :)</h5>
      </div>
      <div class="col-sm-3">
        <div class="circle-cons">
        </div>
        <h5>Upload a few CVs in exchange!</h5>
      </div>


    </div>
  </div>
<br><br><br><br>
  <div class="get-started">
    <a href="#" class="btn btn-lg btn-outline-dark">Get Started</a>
  </div>
  <br><br><br><br><br><br>
</div>

  <section id="testimonials">
    <br><br>
    <h2><b> - Our Testimonials - </b></h2>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Easy to use. Free of cost. Loads of profiles. What else can I ask for?</h2>
          <img class="testimonial-image" src="images/pp.jpg" alt="dog-profile">
          <em>Sumit, New Delhi</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Just one word, "WOW"!</h2>
          <img class="testimonial-image" src="images/pp.jpg" alt="lady-profile">
          <em>Satya, New Delhi</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <hr>
    <br><br>
    <div class="footer-home">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          <div class="socials">
            <p>Social Media Presence</p>
            <a href="#">Linkedin</a>
            <a href="#">Facebook</a>
            <a href="#">Youtube</a>
          </div>

        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2 feedback">
          <a href="#">Leave your feedback</a>
          <a href="#">Contact Customer Care</a>
          <a href="#">Rate your experience</a>
          <a href="#">Leave a message for us.</a>
          <a href="#">Back on top ^</a>
          
        </div>
      </div>
      <br>
      <br>
      <p>All rights reserved Access to Success HR Solutions</p>
      <br>
    </div>
  </section>





<%-  include('./partials/footer.ejs')   -%>
