#style-navbar{
  background-color: white;
  color:black;
  box-shadow: 0 1px 10px;
  padding: 8px;
  border-radius: 0;
  top:0;
  left:0;
}

body{
  background-color: #ebe8e6;
}

#style-navbar-brand{
  margin-left: 10%;
  font-size: 25px;
}

#style-search-bar{
  display: inline-block;
  margin-left: 3%;
}

#search-button{
  display: inline-block;
}

.options{
  display: inline-block;
  margin-left: 40%;
  font-weight: bold;
}

.options a{
    color : black;
}

#style-navbar-options{
  padding-right: 30px;
}

.introduction{
  margin-top: 10%;
  margin-left: 5%;
  text-align: justify;
}

#intro-desc{
  font-weight: 800;
  font-size: 2.5rem;
}

.category-display{
  text-align: center;
}

.category-display-items{
  color:#000034;
}

.items-job{
  padding: 20px;
}

.style-stats{
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 4rem;
  text-align: center;
  font-weight: bold;
}

.stats{
  margin-top: 2rem;
  border-style: solid;
  border-color: silver;
  border-width: 0.1px;
  padding: 2rem;
}

.style-stats h1{
  color:green;
  font-weight: 800;
}

.fa-award{
  padding-top: 10px;
  color:darkgreen;
}

.timeline{
  width:40%;
}

.howwework{
  text-align: center;
  padding: 20px;
  border-width: 2px;
  border-color: black;
  background-color: white;
}

.working-explained{
  text-align: left;
}

.working-explained-cons{
  text-align: left;
}

.working-explained hr{
border-width: 10px;
  border-color: lightgreen;
  box-shadow: 4px 2px 4px darkgreen;
  border-radius: 6;
  margin-bottom: 0;
}

.circle{
  padding: 0px;
  margin: 0px;
  width: 10px;
  height: 10px;
  background-color: green;
  z-index: 1;
  position: sticky;
  margin-bottom: 5px;
  border-radius: 4px;
}

.working-explained-cons hr{
border-width: 10px;
  border-color: lightblue;
  box-shadow: 4px 2px 4px blue;
  border-radius: 6;
  margin-bottom: 0;
}

.circle-cons{
  padding: 0px;
  margin: 0px;
  width: 10px;
  height: 10px;
  background-color: blue;
  z-index: 1;
  position: sticky;
  margin-bottom: 5px;
  border-radius: 4px;
}

#testimonials {
  background-color: black;
  color:white;
  text-align: center;

  font-family: "Montserrat";
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#testimonial a{
  color:black;
}

#testimonials hr{
  margin-left: 50px;
  margin-right: 50px;
  border-color:white;
}

.socials{
  text-align: left;
}

.socials a{
  display: block;
  color: grey;
}

.feedback a{
  text-align: right;
  display: block;
  color: grey;
}







/* //////////////// */
.slideshow {
  position: absolute;
  width: 100%;
  height: 40rem;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 40rem;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url("../images/homepage1.jpg")
}
.slideshow li:nth-child(2) {
  background-image: url("../images/homepage2.jpg");
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url("../images/homepage3.jpg");
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url("../images/homepage4.jpg");
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url("../images/homepage3.jpg");
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
