<%-  include('../partials/header.ejs') -%>

<h2>What are you? Business or Job Seeker?</h2>
<a href="/login/business" class="btn btn-primary">Business</a>
<a href="/login/user" class="btn btn-primary">Job Seeker</a>

<%-  include('../partials/footer.ejs') -%>
