<%-  include('../partials/header.ejs') -%>

<br><br><br><br>
<form class="" action="/register/business" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" placeholder="password" value="">
  <button type="submit" name="button">Submit</button>
</form>

<%-  include('../partials/footer.ejs') -%>
